.InputText {
  input {
    border-radius: 10px;
    font-family: inherit;
    width: 70%;
    height: 2rem;
    background-color: white !important;
    padding: 0.5rem;

    border: 1px var(--text--2) solid;
    outline: 0;
    font-size: 1rem;
    color: var(--text-2);
    padding-left: 1rem;
    background: white;
    transition: border-color 0.2s;
  }
  .required-dot {
    color: red;
  }
  .custom-icon {
    position: absolute;
    svg {
      transform: rotate(360deg);
      height: 1.5rem;
      width: 1.5rem;
      margin-top: 0.75rem;
      color: var(--text--2);
      margin-left: 1rem;
    }
  }
  .with-icon {
    padding-left: 4rem;
  }
  &.disabled {
    input {
      opacity: 0.5;
    }
  }
  label {
    display: flex;
    margin-bottom: 0rem;
  }
}
